# Django-key
SECRET_KEY=

# Режим дебага (разработки)
DEBUG=True

# Настройки для подключения к БД
POSTGRES_DB=all_food
POSTGRES_USER=postgres
POSTGRES_PASSWORD=
HOST=
PORT=5432

# Настройки основного почтового клиента
EMAIL_HOST_MAIN=smtp.yandex.ru
EMAIL_PORT_MAIN=465
EMAIL_USE_TLS_MAIN=False
EMAIL_USE_SSL_MAIN=True
EMAIL_HOST_USER_MAIN=
EMAIL_HOST_PASSWORD_MAIN=

# Настройки почтового клиента отправки рассылок
EMAIL_HOST_AUTO=smtp.yandex.ru
EMAIL_PORT_AUTO=465
EMAIL_USE_TLS_AUTO=False
EMAIL_USE_SSL_AUTO=True
EMAIL_HOST_USER_AUTO=
EMAIL_HOST_PASSWORD_AUTO=

# Доверенные адреса (указать через запятую без пробелов)
CSRF_TRUSTED_ORIGINS=http://127.0.0.1,https://127.0.0.1,
ALLOWED_HOSTS=127.0.0.1,localhost,