asgiref==3.11.1 ; python_version >= "3.14"
asttokens==3.0.1 ; python_version >= "3.14"
black==26.3.0 ; python_version >= "3.14"
click==8.3.1 ; python_version >= "3.14"
colorama==0.4.6 ; (platform_system == "Windows" or sys_platform == "win32") and python_version >= "3.14"
decorator==5.2.1 ; python_version >= "3.14"
django==6.0.3 ; python_version >= "3.14"
dj-database-url==3.0.1 ; python_version >= "3.14"
dotenv==0.9.9 ; python_version >= "3.14"
executing==2.2.1 ; python_version >= "3.14"
flake8==7.3.0 ; python_version >= "3.14"
ipython-pygments-lexers==1.1.1 ; python_version >= "3.14"
ipython==9.11.0 ; python_version >= "3.14"
isort==8.0.1 ; python_version >= "3.14"
jedi==0.19.2 ; python_version >= "3.14"
matplotlib-inline==0.2.1 ; python_version >= "3.14"
mccabe==0.7.0 ; python_version >= "3.14"
mypy-extensions==1.1.0 ; python_version >= "3.14"
packaging==26.0 ; python_version >= "3.14"
parso==0.8.6 ; python_version >= "3.14"
pathspec==1.0.4 ; python_version >= "3.14"
pexpect==4.9.0 ; python_version >= "3.14" and sys_platform != "win32" and sys_platform != "emscripten"
pillow==12.1.1 ; python_version >= "3.14"
platformdirs==4.9.4 ; python_version >= "3.14"
prompt-toolkit==3.0.52 ; python_version >= "3.14"
psycopg2==2.9.11 ; python_version >= "3.14"
ptyprocess==0.7.0 ; python_version >= "3.14" and sys_platform != "win32" and sys_platform != "emscripten"
pure-eval==0.2.3 ; python_version >= "3.14"
pycodestyle==2.14.0 ; python_version >= "3.14"
pyflakes==3.4.0 ; python_version >= "3.14"
pygments==2.19.2 ; python_version >= "3.14"
python-dotenv==1.2.2 ; python_version >= "3.14"
pytokens==0.4.1 ; python_version >= "3.14"
shell==1.0.1 ; python_version >= "3.14"
sqlparse==0.5.5 ; python_version >= "3.14"
stack-data==0.6.3 ; python_version >= "3.14"
traitlets==5.14.3 ; python_version >= "3.14"
tzdata==2025.3 ; python_version >= "3.14" and sys_platform == "win32"
wcwidth==0.6.0 ; python_version >= "3.14"
gunicorn==25.3.0 ; python_version >= "3.14"
